
/* Your CSS Code here. */
.item{
	height:200px;
	width:200px;
	background-color:black;
	color:white;
	border:2px solid white;
	border-radius:10px;
}
.holder{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	
}